{% include header.html %}

<div class="container">
  <!-- 1 -->
  <div class="row" style="margin-top:100px;">
    <!-- 2 -->
      <div class="col-sm-8 blogpost" style="font-family: 'Roboto', sans-serif;">
      <!-- 3 -->
        <article>
          {{ content }}
        <article>
      </div>
      <!-- 3 -->


      <div class="col-sm-3" style="font-size:12px">
        <p>I am <a href="/">Sam Lessin</a>, I work on <a href="https://www.fin.com">Fin</a> on instrumenting and optimizing the future of work, invest as a partner at <a href="http://slow.co">Slow</a> and intern writing at <a href="https://www.theinformation.com">The Information</a>.  Before this i was vp of product at FB &amp; built drop.io in brooklyn back in the day</p>
        <p>This is some of my writing and ideas .. for more check out my column <a href="https://www.theinformation.com/reporters/sam-lessin">'modest proposals'</a>.  a bunch of my old pre-TI writing is stashed in a flat file <a href="http://www.wlessin.com/writing-old-flat/">here</a>.</p>
        <hr>
        <p>
          | <a style="color:red" href="https://www.twitter.com/lessin">@lessin</a><br> 
          | <a style="color:red" href="http://www.angel.co/lessin/">investments</a><br>
          | <a style="color:red" href="http://www.wlessin.com/signup/">mailing list<br>
        </p>
      </div>
    </div>
    <!-- 2 -->
  </div>
  <!-- 1 -->
</div>

  
